<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>body</key>
	<dict>
		<key>bundleName</key>
		<string>ibreathe_body</string>
	</dict>
	<key>scanLineMask</key>
	<dict>
		<key>bundleName</key>
		<string>ibreathe_body_clip</string>
	</dict>
	<key>scanner</key>
	<dict>
		<key>bundleName</key>
		<string>ibreathe_body_scan</string>
		<key>imageCount</key>
		<integer>6</integer>
	</dict>
	<key>bodyParts</key>
	<array>
		<dict>
			<key>buttonTitle</key>
			<string>Brain</string>
			<key>buttonImage</key>
			<string>bbrain</string>
			<key>x</key>
			<integer>51</integer>
			<key>y</key>
			<real>0.06</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>brain</string>
			<key>bundleName</key>
			<string>ibreathe_brain</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<integer>6</integer>
					<key>height</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Eyes</string>
			<key>buttonImage</key>
			<string>beyes</string>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<real>0.08699999999999999</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>eyes</string>
			<key>bundleName</key>
			<string>ibreathe_eyes</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<real>8.52</real>
					<key>height</key>
					<string>5.7</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Ears &amp; Hearing</string>
			<key>buttonImage</key>
			<string>bears</string>
			<key>x</key>
			<integer>73</integer>
			<key>y</key>
			<real>0.11</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>ears</string>
			<key>bundleName</key>
			<string>ibreathe_ears</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<real>11.2</real>
					<key>height</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Immune System</string>
			<key>buttonImage</key>
			<string>bimmune</string>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
			<key>overBody</key>
			<true/>
			<key>title</key>
			<string>immunesystem</string>
			<key>bundleName</key>
			<string>ibreathe_body_immunesystem</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<real>15.5</real>
					<key>height</key>
					<real>2.5</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Muscles</string>
			<key>buttonImage</key>
			<string>bmuscles</string>
			<key>x</key>
			<integer>306</integer>
			<key>y</key>
			<real>0.422</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>muscles</string>
			<key>bundleName</key>
			<string>ibreathe_muscles</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<integer>21</integer>
					<key>height</key>
					<real>3.5</real>
				</dict>
				<dict>
					<key>top</key>
					<integer>60</integer>
					<key>height</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Lungs &amp; Breathing</string>
			<key>buttonImage</key>
			<string>blungs</string>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<real>0.255</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>lungs</string>
			<key>bundleName</key>
			<string>ibreathe_lungs</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<integer>25</integer>
					<key>height</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Heart &amp; Circulatory</string>
			<key>buttonImage</key>
			<string>bheart</string>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<real>0.31</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>circulatory</string>
			<key>bundleName</key>
			<string>ibreathe_circulatory</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<integer>30</integer>
					<key>height</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Stomach</string>
			<key>buttonImage</key>
			<string>bstomach</string>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<real>0.345</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>stomach</string>
			<key>bundleName</key>
			<string>ibreathe_stomach</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<integer>35</integer>
					<key>height</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Fingers &amp; Toes</string>
			<key>buttonImage</key>
			<string>bfingers</string>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<real>0.67</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>fingers</string>
			<key>bundleName</key>
			<string>ibreathe_skin2</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<integer>51</integer>
					<key>height</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>top</key>
					<real>95</real>
					<key>height</key>
					<real>10</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>buttonTitle</key>
			<string>Skin</string>
			<key>buttonImage</key>
			<string>bskin</string>
			<key>x</key>
			<integer>480</integer>
			<key>y</key>
			<real>0.5</real>
			<key>overBody</key>
			<false/>
			<key>title</key>
			<string>skin</string>
			<key>bundleName</key>
			<string>ibreathe_skin</string>
			<key>locations</key>
			<array>
				<dict>
					<key>top</key>
					<integer>80</integer>
					<key>height</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
